@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 140px;
    grid-template-rows: 80px 40px 1fr 40px;
    gap: 5px;
}

.caixa{
    background-color: gray;
    border: 2px solid black;
    padding: 5px;
    text-align:center;
}

#topo{
    background-color: antiquewhite;
    grid-area: 1 / 1 / 2 / -1;
}

#menu{
    background-color: aqua;
    grid-area: 2 / 1 / 3 / -1;

}

#principal{ /*Principal*/
    background-color: brown;
    grid-area: 3 / 1 / -2 / -2;
}

#secundario{ /*Secundario*/
    background-color: darkgoldenrod;
    grid-area: 3 / -2 / -2 / -1 ;
}

#rodape{
    background-color: aquamarine;
    grid-area: -2 / 1 / -1 / -1 ;
}