@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.336);
}

h1{
    text-align: center;
}

section.container{
    display: grid;
    grid-template: repeat(6, 130px) / repeat(6, 1fr);
    gap: 5px;
}

div.webtoon1{
    background-image: url(imagens/webtoon1.png);
    background-size: 210px;
    background-repeat: no-repeat;
    grid-row-start:1;
    grid-row-end:3;
    grid-column-start:1;
    grid-column-end:3;
}

div.webtoon2{
    background-image: url(imagens/webtoon2.png);
    background-size: 200px;
    background-repeat: no-repeat;
    grid-row-start:1;
    grid-row-end:3;
    grid-column-start:3;
    grid-column-end:5;
}

div.webtoon3{
    background-image: url(imagens/webtoon3.png);
    background-size:200px;
    background-repeat: no-repeat;
    grid-row-start:1;
    grid-row-end:3;
    grid-column-start:5;
    grid-column-end:7;
}

div.webtoon4{
    background-image: url(imagens/webtoon4.png);
    background-size: 200px;
    background-repeat: no-repeat;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}


div.webtoon5{
    background-image: url(imagens/webtoon5.png);
    background-size: 200px;
    background-repeat: no-repeat;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}

div.webtoon6{
    background-image: url(imagens/webtoon6.png);
    background-size: 196.5px;
    background-repeat: no-repeat;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 7;
}

div.webtoon7{
    background-image: url(imagens/webtoon7.png);
    background-size:195.5px;
    background-repeat: no-repeat;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}

div.webtoon8{
    background-image: url(imagens/webtoon8.png);
    background-size:195.5px;
    background-repeat: no-repeat;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 5;
}

div.webtoon9{
    background-image: url(imagens/webtoon9.png);
    background-size:190px;
    background-repeat: no-repeat;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 7;
}

/* div.webtoon10{ 
    faça algo de especial com esse aqui!!!!
    background-image: url(imagens/webtoon10.png);
} */